body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS12YRwvV3lxqIix22kyTgmbhrJw88hIsaXng&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}
#details-card {
  background-color: rgba(135, 135, 161, 0.861);
  width: 400px;
  color: white;
  position: relative;
  box-shadow: 3px 15px 5px rgba(0, 0, 0, 0.452);
}
#details-card p {
  color: #b2b2c8;
  font-size: 10px;
}
#review-card {
  background-image: linear-gradient(#dedcdc 60%, #cd3952 60%);
  width: 150px;
  height: 170px;
  position: absolute;
  right: 5%;
  top: 15%;
  display: flex;
  flex-direction: column;
}
#review-card i {
  color: #ffc400;
}
#review-card textarea {
  border: none;
  width: 80%;
  height: 25%;
  font-size: 7px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.244);
  position: absolute;
}
#review-card button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
}
